In [36]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/ubuntu/Desktop/TCOB42/DSBDAL/IRIS - IRIS.csv")
df

     sepal-length  sepal-width  petal-length  petal-width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [37]:
species_list= ['Iris-setosa','Iris-virginica','Iris-versicolor']

In [38]:
for species in species_list:
    print(f"\nStatistics for {species}:")
    species_data = df[df['species'] == species]
    print(species_data.describe())
    print("\nMedian\n",species_data.median())
    print("\nVariance\n",species_data.var())
    print("\nMode\n",species_data.mode())
    print("\n")

Statistics for Iris-setosa:
       sepal-length  sepal-width  petal-length  petal-width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Median
 sepal-length    5.0
sepal-width     3.4
petal-length    1.5
petal-width     0.2
dtype: float64

Variance
 sepal-length    0.124249
sepal-width     0.145180
petal-length    0.030106
petal-width     0.011494
dtype: float64

Mode
    sepal-length  sepal-width  petal-length  petal-width      species
0           5.0          3.4           1.5          0.2  Iris-setosa
1           5.1          NaN           NaN          NaN          NaN



Statistics for Iris-virginica:
       sepal-length  sepal-width  petal-length  petal-width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

Median
 sepal-length    6.50
sepal-width     3.00
petal-length    5.55
petal-width     2.00
dtype: float64

Variance
 sepal-length    0.404343
sepal-width     0.104004
petal-length    0.304588
petal-width     0.075433
dtype: float64

Mode
    sepal-length  sepal-width  petal-length  petal-width         species
0           6.3          3.0           5.1          1.8  Iris-virginica



Statistics for Iris-versicolor:
       sepal-length  sepal-width  petal-length  petal-width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Median
 sepal-length    5.90
sepal-width     2.80
petal-length    4.35
petal-width     1.30
dtype: float64

Variance
 sepal-length    0.266433
sepal-width     0.098469
petal-length    0.220816
petal-width     0.039106
dtype: float64

Mode
    sepal-length  sepal-width  petal-length  petal-width          species
0           5.5          3.0           4.5          1.3  Iris-versicolor
1           5.6          NaN           NaN          NaN              NaN
2           5.7          NaN           NaN          NaN              NaN

/tmp/ipykernel_5445/1537330296.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nMedian\n",species_data.median())
/tmp/ipykernel_5445/1537330296.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nVariance\n",species_data.var())
/tmp/ipykernel_5445/1537330296.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nMedian\n",species_data.median())
/tmp/ipykernel_5445/1537330296.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nVariance\n",species_data.var())
/tmp/ipykernel_5445/1537330296.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nMedian\n",species_data.median())
/tmp/ipykernel_5445/1537330296.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\nVariance\n",species_data.var())

In [39]:
df.isnull()

     sepal-length  sepal-width  petal-length  petal-width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [40]:
ndf=df
ndf['species'].replace({
    "Iris-setosa": 0,
    "Iris-versicolor": 1,
    "Iris-virginica": 2
}, inplace=True)
print(ndf.head())

   sepal-length  sepal-width  petal-length  petal-width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0