In [10]:
import pandas as pd
 
import numpy as np


# implement series using array

a = np.array([1,2,3,4,5])

res = pd.Series(a)

print(res)


#implement series using list

l = ['l','i','s','t']

disp = pd.Series(l)

print(disp)


#Dealing with Excel files

e = pd.read_excel("/home/ubuntu/Downloads/Demo.xlsx")

print(e)

f = pd.Series(e['DM'])

print(f)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    l
1    i
2    s
3    t
dtype: object
          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD GENDER  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16      M         NaN  ...          NaN          NaN
1     9    9   AB   AB      M         NaN  ...          NaN          NaN
2    23   16   15   15      M         NaN  ...          NaN          NaN
3    14   11    8   15      M         NaN  ...          NaN          NaN
4    24   16   24   20      M         NaN  ...          NaN          NaN
..  ...  ...  ...  ...    ...         ...  ...          ...          ...
77   27   25   29   27    NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN    NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN    NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN    NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN    NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]
0      24
1      16
2      20
3      18
4      20
     ...
77     24
78    NaN
79    NaN
80    NaN
81    NaN
Name: DM, Length: 82, dtype: object

In [11]:
#f = pd.to_numeric(f, errors='coerce')
s = f.sort_values
print(s)

<bound method Series.sort_values of 0      24
1      16
2      20
3      18
4      20
     ...
77     24
78    NaN
79    NaN
80    NaN
81    NaN
Name: DM, Length: 82, dtype: object>

In [13]:
h = f.head
print(h)

<bound method NDFrame.head of 0      24
1      16
2      20
3      18
4      20
     ...
77     24
78    NaN
79    NaN
80    NaN
81    NaN
Name: DM, Length: 82, dtype: object>